{require_min_otp_vsn, "18"}.

{erl_opts, [inline, {parse_transform, otpbp_pt}]}.

{deps, [{otpbp, "^(0\\.(2[5-9]|[3-9][0-9])|[1-9])", % >= 0.25
         {git, "git@github.com:Ledest/otpbp.git", {branch, "master"}}}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
